@using Microsoft.AspNetCore.Razor.TagHelpers
@model IEnumerable<CustomERP.Data.Models.Section>

@{
    ViewData["Title"] = "Index";
}

<h1 class="card-header-tabs">Production</h1>
<p></p>
<form>
    <button asp-controller="Sections" asp-action="Create" class="btn-primary rounded border" role="button" style="color: chartreuse">Create New</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionParent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedFrom)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Recipe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionParent.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedFrom)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-primary">Edit</a>|
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-block">Details</a>
                </td>
                <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
